body {
  font-family: "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
}
.imgLink {
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

#result {
  white-space: pre-wrap;
}
