<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sokowatch Accounting Interface</title>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    
			if (window.opener) {
				window.opener.location.href = '/connected'
				window.close()
			}

			function companyInfo() {
				$("#result").html('Loading...')
				$.get("/api/accountingsystem/getCompanyInfo", function(data) {
					$("#result").html(data)
				})
			}

			function refreshToken() {
				$("#result").html('Loading...')
				$.get("/api/accountingsystem/refreshToken", function(data) {
					$("#result").html(data)
				})
			}

			function clearSuspectedErrorsFile() {
				$("#result").html('Clearing File...')
				$.get("/api/accountingsystem/reports/clearsuspectederrorcsvfile", function(data) {
					$("#result").html(data)
				})
			}

			function emailSuspectedErrorsFile(email) {
				if (email === "") {
					$("#result").html('Input valid email address...')
					return false;
				}

				else {
					$("#result").html('Sending...')
					$.get("/api/mail/sendAttachment/" + email, function(data) {
						$("#result").html(data)
					})
					return true;
				}
			}

			function ledger(fdate) {
				if (fdate === "") {
					$("#result").html('Please choose a to date...')
					return false;
				} 
				if ($("#realmId").html().toString() === "") {
					$("#result").html('Please select a company...')
					return false;
				} else {
					$("#result").html('Loading...')
					$.get("/api/accountingsystem/reports/ledger/" + fdate + "/" + $("#realmId").html().toString(), function(data) {
						$("#result").html(data)
					})
					return true;
				}
			}
			
			function setRealmId(realmId) {
				if (realmId === "") {
					$("#result").html('Company has not been set...')
					return false;
				} else {
						$("#realmId").html(realmId)
						$("#result").html("Company set to CompanyId: " + realmId)
					}
					return true;
			}

			function testLedger() {
				$("#result").html('Loading...')
				$.get("/api/accountingsystem/reports/ledgertest2", function(data) {
					$("#result").html(data)
				})
				return true;
			}

			function runLedgerIntegrationTest() {
				$("#result").html('Loading...')
				$.get("/api/accountingsystem/reports/ledgerintegrationtest", function(data) {
					$("#result").html(data)
				})

				return true;
			}
		</script>
</head>
<body>
  <a href="/">Home</a>
  <a href="/api/logout">Logout</a>
  <h3>Connected!</h3>
  <div>
    <!-- Step 1: Choose the company you want to run the report for <br />  -->
    Step 1: Clear the SuspectedErrors file if this is your first run of a batch <br />
    Step 2: Choose the 'to date' you want to run the refresh for (last day of the month) <br />
    Step 3: Choose the Company you want to run the refresh for (last day of the month) <br />
    Step 4: Press the 'Run Ledger Extract' button <br />
    Step 5: If you want to run the refresh for another company, select another company from the buttons and repeat the process.
  </div>
<br /><br /> 
Clear Suspected Errors File: <button onclick="clearSuspectedErrorsFile()">Clear</button>
<br /><br /> 
Select Company to Run Refresh For
<br /><br />
<button onclick="setRealmId(123145785759469)">Tanzania</button>
<button onclick="setRealmId(1418399800)">USA</button>
<button onclick="setRealmId(123145748310592)">Kenya Inc</button>
<button onclick="setRealmId(123146556059374)">Kenya Ltd</button>
<button onclick="setRealmId(123146281691429)">Rwanda</button>
<button onclick="setRealmId(123146477849929)">Uganda</button>
<button onclick="setRealmId(9130351362819606)">Ivory Coast</button>
<button onclick="setRealmId(9130351450551356)">India</button>
<button onclick="setRealmId(9130351640000216)">Senegal</button>
<br /><br />  
  <div>
    <form action="javascript:ledger(fdate.value)">
  		<label for="fdate">Date to:</label>
  		<input type="date" id="fdate" name="fdate">
 		<input type="submit" value="Run Ledger Extract">
	</form>
	
	<br /><br />
	Send Suspected Errors File <br /><br />
	<form action="javascript:emailSuspectedErrorsFile(email.value)">
  		<label for="email">To:</label>
  		<input type="email" id="email" name="email">
 		<input type="submit" value="Send">
	</form>
	<br /><br />
    <div><code id="result"></code></div>
    <div style="color:white;"><code id="realmId"></code></div>
    
    <!--
    <br /><br />
     
    Run Integration Test (no need to select "Date To"): <button onclick="runLedgerIntegrationTest()">Run</button><br /><br /> 
    <button onclick="companyInfo()">CompanyInfo</button>
    <button onclick="refreshToken()">Refresh Token</button>
    <br /> <br />
     -->
    </div>
</body>
</html>