<html>
<head>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>Sokowatch Accounting Interface</title>
   <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
 <script>
  function launchPopup(path) {
    var win;
    var checkConnect;
    var parameters = "location=1,width=800,height=650";
    parameters += ",left=" + (screen.width - 800) / 2 + ",top=" + (screen.height - 650) / 2;
    // Launch Popup
    win = window.open(path, 'connectPopup', parameters);
  }
</script>
</head>
<body>
  <h3>Welcome to Sokowatch's Accounting Interface</h3>
  Please access the data refresh page <a href="/connected">here</a>.
  <br /><br /><br />
  
  <!-- Connect To QuickBooks Button -->
  <b>Connect To QuickBooks</b><br />
  Note, you are only required to click the below button if you are connecting this app to an entity for the first time. For example if you have created a new entity.<br />
  In this case, please ensure the owning Software Engineer has added the start date of the entity to the application config files and added the required buttons <br />
  to the data refresh web page. <br />
  <a class="imgLink" th:onclick="'launchPopup(\'connectToQuickbooks/\');'" href="#">
    <img
      style="height: 40px"
      src="../static/images/C2QB_white_btn_lg_default.png"
      th:src="@{/images/C2QB_white_btn_lg_default.png}"
    />
  </a>
  <br />

</body>
</html>