<!DOCTYPE HTML>
<html>
<head>
    <title>Login Success</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{css/style.css}"/>
</head>
<body>
<h3>
<div class="label label-info">
   Welcome, <span th:text="${name}">user</span>!
   </div>
   </h3>
   <a href="/connected">Data Refresh Page</a> Or
   <a href="/logout">Logout</a>
</body>
</html>